$width: 400px;
.my-components-multivalue-autocomplete {
	width: $width;
	margin: 0 auto;
	position: relative;
	font-family: Arial;
	.search-input-container {
		border: solid 1px #ccc;
	}
	input {
		border: none;
		outline: none;
		padding: 10px;
		font-size: 14px;
		color: #555;
	}
	.search-results-container {
		position: absolute;
		width: 100%;
	}
	.search-results, .search-results-selected {
		max-height: 150px;
		overflow-y: auto;
		border: solid 1px #ccc;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding: 5px 10px;
			cursor: pointer;
			&:hover, &.hover {
				background: #eee;
			}
			.action {
				float: right;
				background: url(/images/plus_circle_static.png) center no-repeat;
				background-size: 50%;
				width: 32px;
				height: 18px;
			}
			&.selected {
				color: #aaa;
				.action {
					background-image: url(/images/minus_circle_static.png);
				}
			}
		}
		.matched-text {
			font-weight: bold;
		}
	}
	.search-results-selected {
		li .action {
			background-image: url(/images/minus_circle_static.png);
		}
	}
}